/* .loginbox{
    background-color: blue;
}
Button{
    width: 100px;
}

 */





      /* ------------------------------------------------------------------------------------------- */

.loginform{
    text-align: center;
    height: 50%;
    background-color: blueviolet;
    width: 30%;
    margin-left: 35%;
    margin-top: 5%;
}

